services:
    postgres:
        image: postgres:18
        container_name: pg-dev
        environment:
            POSTGRES_USER: devuser
            POSTGRES_PASSWORD: devpassword
            POSTGRES_DB: devdb
        volumes:
            -  ./api_keys.sql:/docker-entrypoint-initdb.d/api_keys.sql
        ports:
            - "5432:5432"
        networks:
            - pg-network

networks:
    pg-network:
        driver: bridge