---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - pods.k8s.delta10.nl.k8s.delta10.nl
  resources:
  - postgresaccesses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pods.k8s.delta10.nl.k8s.delta10.nl
  resources:
  - postgresaccesses/finalizers
  verbs:
  - update
- apiGroups:
  - pods.k8s.delta10.nl.k8s.delta10.nl
  resources:
  - postgresaccesses/status
  verbs:
  - get
  - patch
  - update
