---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - access.k8s.delta10.nl
  resources:
  - cronjobs
  - postgresaccesses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - access.k8s.delta10.nl
  resources:
  - cronjobs/finalizers
  - postgresaccesses/finalizers
  verbs:
  - update
- apiGroups:
  - access.k8s.delta10.nl
  resources:
  - cronjobs/status
  - postgresaccesses/status
  verbs:
  - get
  - patch
  - update
