apiVersion: access.k8s.delta10.nl/v1
kind: PostgresAccess
metadata:
    labels:
        app.kubernetes.io/name: access-operator
        app.kubernetes.io/managed-by: kustomize
    name: postgresaccess-sample
spec:
    generatedSecret: my-app-postgres-credentials
    username: my-app-user
    # expects the secret to have the following keys: host, port, database, username, password
    connection:
        existingSecret: postgres-admin-secret
    grants:
        -   database: postgres
            privileges:
                - CONNECT
                - SELECT